<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.babysee.picture"
    android:versionCode="11"
    android:versionName="1.9.0.1209" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 必须申明的权限 -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <!-- 可选的权限 -->
    <!-- 启用错误分析功能，须添加该权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

    <!-- 可选的权限 -->
    <!-- 使用GPS获取用户精确定位信息 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BabySee" >

        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="BAIDU_STAT_ID_NONE" />

        <!-- 渠道商编号 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="CHANELID_NONE" />

        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="1" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeePicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".draw.DrawBoardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".draw.DrawListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".game.GameListActivity"
            android:label="@string/game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".test.TestListActivity"
            android:label="@string/test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".test.TestQuestionActivity"
            android:label="@string/test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".nutrition.NutritionFragmentTabNavigation"
            android:label="@string/nutrition"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PageIndicatorDefaults" >
        </activity>
        <activity
            android:name=".guide.GuideListActivity"
            android:label="@string/guide"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".tools.BabyHeightActivity"
            android:label="@string/tools"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".book.ZhiliFangChengListActivity"
            android:label="@string/zhi_li_fang_cheng"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".book.ZhiLiFangChengContentActivity"
            android:label="@string/zhi_li_fang_cheng"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".book.YuErZhiNanListActivity"
            android:label="@string/yuerzhinan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".guide.Guide01Activity"
            android:label="@string/guide_one"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".guide.GrowAdviceActivity"
            android:label="@string/grow_advice"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".book.BaikeListActivity"
            android:label="@string/baike"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".guide.LeftRightBrainActivity"
            android:label="@string/left_right_brain"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".guide.IntlligenceControlTableActivity"
            android:label="@string/intlligence_control_table"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".remind.RemindReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".update.UpdateService" >
        </service>
    </application>

</manifest>
