<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3[其它（水果，菌菇，豆制品等）</key>
	<array>
		<string>2000[水果</string>
		<string>1010[玉米</string>
		<string>1025[豆腐</string>
		<string>1012[红豆</string>
		<string>1023[绿豆</string>
		<string>1030[蘑菇、香菇</string>
		<string>1001[红枣</string>
		<string>1002[芝麻</string>
		<string>1008[面包</string>
		<string>1005[白果</string>
		<string>1006[红薯</string>
		<string>1000[百合</string>
		<string>1007[核桃仁</string>
		<string>1003[腰果</string>
		<string>1009[通心粉</string>
		<string>1004[海蜇皮</string>
		<string>1011[小米</string>
	</array>
	<key>1[荤菜（鱼，虾，鸡蛋等）</key>
	<array>
		<string>1051[猪肉（肉末）</string>
		<string>1049[鸡肉（鸡腿）</string>
		<string>1014[牛肉</string>
		<string>1046[排骨</string>
		<string>1019[鸡蛋（蛋黄、蛋清）</string>
		<string>1048[鱼类</string>
		<string>1047[虾类</string>
		<string>1050[鸭肉</string>
		<string>1013[猪肝</string>
		<string>1015[鹌鹑</string>
		<string>1016[鸽蛋</string>
		<string>1018[蛤蜊</string>
		<string>1020[鸡肫</string>
	</array>
	<key>2[蔬菜（绿叶菜，土豆，西红柿等）</key>
	<array>
		<string>1044[西红柿</string>
		<string>1043[青菜</string>
		<string>1034[菠菜</string>
		<string>1035[卷心菜</string>
		<string>1029[土豆</string>
		<string>1041[丝瓜</string>
		<string>1026[南瓜</string>
		<string>1027[茄子</string>
		<string>1045[黄瓜</string>
		<string>1057[胡萝卜、白萝卜</string>
		<string>1031[冬瓜</string>
		<string>1053[芹菜（西芹）</string>
		<string>1032[花菜（菜花）</string>
		<string>1033[白菜</string>
		<string>1054[青椒、红椒</string>
		<string>1037[西葫芦</string>
		<string>1038[生菜</string>
		<string>1058[竹笋、冬笋</string>
		<string>1052[青豆（豌豆）</string>
		<string>1024[扁豆（四季豆）</string>
		<string>1055[绿豆芽、黄豆芽</string>
		<string>1040[山药</string>
		<string>1039[苦瓜</string>
		<string>1036[芦笋</string>
		<string>1056[韭菜、韭黄</string>
	</array>
</dict>
</plist>
