<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01,0－3月</key>
	<array>
		<string>一般而言0-3个月的宝宝每天摄入的奶量在960毫升左右，每次喂奶70到120毫升左右，每天的喂奶次数6-8次左右。[[[[[1</string>
	</array>
	<key>03,4－6月</key>
	<array>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，鱼肝油（鱼肝油为宝宝补充维生素D，有利于钙质吸收，详情请咨询保健医师）{4{1[母乳或奶粉[21[40[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，鱼肝油（鱼肝油为宝宝补充维生素D，有利于钙质吸收，详情请咨询保健医师）[母乳或奶粉[17[1{6[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，1/4至1个蛋黄鱼肝油（鱼肝油为宝宝补充维生素D，便于钙质吸收，详情请咨询保健医师）[母乳或奶粉[7[1{6[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，鱼肝油（鱼肝油为宝宝补充维生素D，有利于钙质吸收，详情请咨询保健医师）{4[母乳或奶粉[20[1[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，鱼肝油（鱼肝油为宝宝补充维生素D，有利于钙质吸收，详情请咨询保健医师）[母乳或奶粉[3[1[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，鱼肝油（鱼肝油为宝宝补充维生素D，有利于钙质吸收，详情请咨询保健医师）{4[母乳或奶粉[3[14[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量：700-1000ml；母乳喂养的宝宝要按需哺乳，每次10-15分钟较好；吃配方奶粉的宝宝每日吃奶次数建议5-6次。）[母乳或奶粉，鱼肝油（鱼肝油为宝宝补充维生素D，有利于钙质吸收，详情请咨询保健医师）[母乳或奶粉{8[5[1[母乳或奶粉</string>
	</array>
	<key>04,7－9月</key>
	<array>
		<string>母乳或奶粉（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）[馒头片[母乳或奶粉{26[苹果汁[母乳或奶粉{28[母乳</string>
		<string>母乳或奶粉，煮鸡蛋半个（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）[饼干，西红柿汁[母乳或奶粉{29[23[馄饨，母乳或奶粉[母乳或奶粉</string>
		<string>母乳或奶粉（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）{35[梨汁50毫升[37{41[母乳或奶粉，饼干20克[绿豆粥{23[母乳或奶粉{32</string>
		<string>母乳或奶粉，煮鸡蛋半个，红枣糕（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）[苹果汁50毫升[42[35[母乳或奶粉，花卷20克[母乳或奶粉</string>
		<string>母乳或奶粉，鸡蛋黄半个（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）[母乳或奶粉，酥饼20克[30[母乳或奶粉{39[38[母乳或奶粉</string>
		<string>母乳或奶粉，红枣糕（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）[母乳或奶粉，鲜榨橙汁[28{46[母乳或奶粉，面包[44[母乳或奶粉，馒头片</string>
		<string>母乳或奶粉，鸡蛋半个（建议一天奶量不少于700ml，逐步培养规律的喂奶频率，喂奶的次数可减少到每天三次）[25[47{31[母乳或奶粉，绿豆糕20克[36[母乳或奶粉</string>
	</array>
	<key>05,10－12月</key>
	<array>
		<string>配方奶粉或母乳，猪肉包子（建议一天500-600ml总奶量）[苹果汁，饼干[73{59[23[大米绿豆饭{南瓜牛奶汤{58[配方奶粉</string>
		<string>配方奶粉或母乳，馒头（建议一天500-600ml总奶量）[鲜榨橙汁，饼干[48{60[4[57{61[配方奶粉</string>
		<string>配方奶粉或母乳，花卷（建议一天500-600ml总奶量）[果汁，绿豆糕[50{67[猪肝丸子[52{68[配方奶粉</string>
		<string>配方奶粉或母乳，胡萝卜鸡蛋青菜饼（建议一天500-600ml总奶量）[63酪[55{69[65[53{61[母乳或奶粉</string>
		<string>配方奶粉或母乳，花卷（建议一天500-600ml总奶量）[果汁{63[49{66[甜心红薯饼[70{53[配方奶粉</string>
		<string>配方奶粉或母乳，面包（建议一天500-600ml总奶量）[果汁，饼干[73{262[65[鱼肉水饺{66[配方奶粉或母乳</string>
		<string>配方奶粉或母乳，素什锦包子（建议一天500-600ml总奶量）[果汁，糕点[米饭{71[65[豆腐鲫鱼汤{56[配方奶粉或母乳</string>
		<string>配方奶粉或母乳，鸡蛋，面包（建议一天500-600ml总奶量）[64[米饭{67[水果，饼干[55[配方奶粉</string>
		<string>配方奶粉或母乳，鸡蛋，煎饼（建议一天500-600ml总奶量）[水果[米饭{66[水果，面包[芝麻酱糖花卷{61{262[配方奶粉</string>
		<string>配方奶粉或母乳（建议一天500-600ml总奶量）{48[酸奶[米饭{70{261[水果[糜面小馒头{259[配方奶粉</string>
		<string>配方奶粉或母乳，鲜奶蛋糕（建议一天500-600ml总奶量）[水果[米饭{58[饼干[金银蒸卷{259[配方奶粉</string>
		<string>配方奶粉或母乳，蛋糕（建议一天500-600ml总奶量）[水果[米饭{260[酸奶，饼干[米饭{261[配方奶粉</string>
		<string>配方奶粉或母乳，花卷（建议一天500-600ml总奶量）[水果[米饭{71[酸奶[红豆糕{54[配方奶粉</string>
		<string>配方奶粉或母乳，蛋饼（建议一天500-600ml总奶量）[水果[米饭{66[糕点[菜肉包子{49[配方奶粉</string>
	</array>
	<key>06,13－24月</key>
	<array>
		<string>鲜奶麦片，蛋糕（建议一天奶量300-500ml）[水果[软饭{83{265[钙片，鱼肝油，面包[软饭{82{87[配方奶粉</string>
		<string>配方奶粉（建议一天奶量300-500ml）{261[水果[288[钙片，鱼肝油，冰花雪耳汤，饼干[软饭{88[配方奶粉（睡前：建议一天奶量300-500ml）</string>
		<string>鲜甜豆浆（建议一天奶量300-500ml）{288[酸奶[275[钙片，鱼肝油，蜜糖炖雪梨[软饭{76{262[配方奶粉</string>
		<string>馒头片（建议一天奶量300-500ml）{273[酸奶[软饭{280[钙片，鱼肝油，香蕉一只[米饭{277{272[配方奶粉</string>
		<string>芝麻糊（建议一天奶量300-500ml）{96[水果[软饭{85[钙片，鱼肝油{93[软饭{91[配方奶粉</string>
		<string>配方奶粉，蛋糕，白煮蛋（建议一天奶量300-500ml）[水果[266{292[酸奶[米饭{75{292[配方奶粉</string>
		<string>配方奶粉（建议一天奶量300-500ml）{261[酸奶[267{270[水果[米饭{86{270[配方奶粉</string>
		<string>配方奶粉，白煮蛋（建议一天奶量300-500ml）{96[水果[肉包{273[糕点[米饭{88{269[配方奶粉</string>
		<string>配方奶粉，枣饼（建议一天奶量300-500ml）[水果[97{281[酸奶[286{292[配方奶粉</string>
		<string>配方奶粉，豆沙包（建议一天奶量300-500ml）[水果[287[酸奶[米饭{84{99[配方奶粉</string>
		<string>配方奶粉，蛋糕（建议一天奶量300-500ml）[水果[花卷{293{77[酸奶[米饭{76{260{98[配方奶粉</string>
		<string>配方奶粉，面包，白煮蛋（建议一天奶量300-500ml）[水果[278{266[261[283{80[配方奶粉</string>
		<string>腐竹白果粥（建议一天奶量300-500ml）[配方奶粉[291{292[钙片，鱼肝油，时鲜水果[282{78[配方奶</string>
		<string>278[水果沙拉[294{295[酸奶[290{98[配方奶（建议一天奶量300-500ml）</string>
	</array>
	<key>07,25－36月</key>
	<array>
		<string>馒头{310[牛奶[米饭{313{314[哈密瓜，饼干[334[1</string>
		<string>面包夹果酱{311[牛奶，苹果[335{328[香蕉，牛奶[347{341[1</string>
		<string>牛奶{330[苹果[米饭{325{333[绿豆糕[338{342[1</string>
		<string>小烧饼，蒸蛋羹{326[水果[米饭，西红柿鸡蛋汤{329{322[豆浆{340[馒头{344{339[1</string>
		<string>牛奶，葱油花卷[酸奶[343{331[红豆沙[337{336[1</string>
		<string>面包片，煮鸡蛋[牛奶[米饭{345{315{332[水果，饼干[347{327[1</string>
		<string>枣泥包{326[水果[米饭{314{319[牛奶，蛋糕[348[1</string>
	</array>
	<key>08,3-6岁</key>
	<array>
		<string>牛奶，白煮蛋{195[香橙什果球[米饭{122{139[酸奶250克[馒头片{117{176[1</string>
		<string>奶酪酱，热巧克力奶，烤土司[甜橙果冻[米饭{130{156[牛奶[182{157[1</string>
		<string>五香茶叶蛋，瓜丁花生米，小米粥[牛奶{179[米饭{152{106[香蕉[155{192{196[1</string>
		<string>牛奶，白煮蛋{189[鲜榨菠萝汁，全麦饼干[米饭{145{174[水果拌酸奶[149{187[1</string>
		<string>芝士鸡蛋堡，巧克力奶[鸭梨[175{194[苹果布丁[161{196[1</string>
		<string>芝麻酥饼夹花生酱，牛奶[酸奶[烂饭{109{172[葱油菜包，西瓜[191[1</string>
		<string>面包夹红肠片，牛奶[酸奶[烂饭{219{157[麦片赤豆粥，香蕉[244[1</string>
		<string>鸡蛋薄饼夹黄瓜片，牛奶[酸奶[烂饭{122{163[菜肉大包，水果羹[235{159[1</string>
		<string>鲜菜肉饺，牛奶[饼干[烂饭{139{100[红枣芝麻糊，苹果[葱油花卷{174[1</string>
		<string>馒头夹炒蛋，牛奶[酸奶[254{176[奶油蛋糕，生梨[107{178[1</string>
		<string>小笼汤包，牛奶[水果[烂饭{114{100[酒酿小丸子[馒头{173[1</string>
		<string>葱油花卷，牛奶[水果[烂饭{226{255[豆沙包，橙汁[113{257[1</string>
		<string>豆浆{247[水果，点心[豆腐丝{256[甜点[软饭{144{112[1</string>
		<string>馒头，咸鸭蛋{258[水果，饼干[米饭{216{177[酸奶[馒头{175[1</string>
	</array>
</dict>
</plist>
