<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01,0－1月</key>
	<array>
		<string>0-3个月建议母乳喂养。母乳含有婴儿成长所需的所有营养元素令宝宝身体强壮，且最易被婴儿消化吸收；母乳中还含有许多免疫抗体，可增加婴儿抵抗疾病的能力，是婴儿最理想的天然营养品。另外，哺喂母乳的亲密接触和亲子关系可刺激婴儿脑部及心智发展。同时哺喂母乳又可促进母亲子宫收缩，保持良好身材，所以妈咪应尽可能给宝宝喂养母乳。</string>
	</array>
	<key>02,2－3月</key>
	<array>
		<string>0-3个月建议母乳喂养。母乳含有婴儿成长所需的所有营养元素令宝宝身体强壮，且最易被婴儿消化吸收；母乳中还含有许多免疫抗体，可增加婴儿抵抗疾病的能力，是婴儿最理想的天然营养品。另外，哺喂母乳的亲密接触和亲子关系可刺激婴儿脑部及心智发展。同时哺喂母乳又可促进母亲子宫收缩，保持良好身材，所以妈咪应尽可能给宝宝喂养母乳。</string>
	</array>
	<key>03,4－6月</key>
	<array>
		<string>4-6个月的宝宝饮食仍以母乳（或配方奶）为主。辅食添加以尝试吃为主要目的，辅食添加的量从少量开始，即从1—2勺开始，以后逐步增加。主要提供流质及泥糊状食品。可依次提供铁强化米粉（可用母乳、配方奶或苹果汁调配），蔬菜泥(3—4种)后，水果汁或泥（果汁要从2：1，1：1兑水开始，然后再喝原汁，接下来是果泥），鸡蛋黄（5月龄），鱼泥、鸡肉、鸭肉、猪肉。</string>
	</array>
	<key>04,7－9月</key>
	<array>
		<string>7-9个月是学习咀嚼和吞咽阶段。在6—8个月，应继续让宝宝吃泥状的、糊状的和半固体的食物。在7—8个月，要让宝宝学会吃高质量的菜粥或烂面条。这是宝宝学习咀嚼和吞咽的好食材，在这关键时期学会吃菜粥或烂面条，就可以顺利过渡到吃软饭或其他面食。</string>
	</array>
	<key>05,10－12月</key>
	<array>
		<string>10-12月阶段的目标是逐步建立全天三餐三点的饮食模式：即早晚喝奶，午餐和晚餐吃高质量的菜粥或烂面条，上午9点及下午3点左右各一次点心，一天共有6次。到8个月时大多数宝宝也能够吃“手指食物”（能被宝宝独自吃下去的食物）。到12个月时，大多数宝宝可以吃的食物类型和其他家庭成员一样。要避免可能引起窒息的食物。</string>
	</array>
	<key>06,13－24月</key>
	<array>
		<string>1-2岁之间是一个关键期，是逐渐向成人化饮食模式转变的交替时期。此阶段继续做好三餐三点的饮食模式。食物的种类和稠度要不断增加。原先不能吃的东西也要逐渐加入进来，由最初吃的粥、软饭、烂面条逐渐变成一些干饭，另外也可尝试小馄饨、饺子、馒头，薄饼等。</string>
	</array>
	<key>07,25-36月</key>
	<array>
		<string>2-3岁幼儿已逐渐出齐全部20颗乳牙，可以自己用牙齿咀嚼较硬的固体食物了，所以这个阶段的宝宝会喜欢吃固体的食品。宝宝的消化系统也日趋完善，加之生长发育对营养的需求也增加了，一日三餐的习惯虽已形成，但仍需在上下午各增加小点心或小食品一次，量宜小，味宜清淡，而且每天还应该喝些牛奶或豆浆。</string>
	</array>
	<key>08,3-6岁</key>
	<array>
		<string>3-6岁的儿童进食的事物种类基本接近成人，从粥和软饭过渡到普通膳食，但要注意膳食营养的平衡，应避免过于油腻和酸辣等刺激性的食品和过硬食物，如猪油炒菜和油炸食品。要注意荤素搭配，食物多样化，养成良好的饮食习惯。</string>
	</array>
</dict>
</plist>
