<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0-1岁宝宝发音启蒙[增强宝宝的语言能力，是发音训练的好帮手，大声和宝宝一起念效果会更好。</key>
	<array>
		<string>376[发音启蒙(白云)[0:00:20[fayinqimeng(baiyun)</string>
		<string>377[发音启蒙(宝宝走的好)[0:01:02[fayinqimeng(baobaozoudehao)</string>
		<string>378[发音启蒙(剥鸡蛋)[0:00:17[fayinqimeng(baojidan)</string>
		<string>379[发音启蒙(布谷鸟)[0:00:24[fayinqimeng(buguniao)</string>
		<string>380[发音启蒙(猜一猜)[0:01:05[fayinqimeng(caiyicai)</string>
		<string>381[发音启蒙(彩虹)[0:00:23[fayinqimeng(caihong)</string>
		<string>382[发音启蒙(春天)[0:00:16[fayinqimeng(chuntian)</string>
		<string>383[发音启蒙(打电话)[0:00:24[fayinqimeng(dadianhua)</string>
		<string>384[发音启蒙(大苹果)[0:00:27[fayinqimeng(dapingguo)</string>
		<string>385[发音启蒙(大象)[0:00:25[fayinqimeng(daxiang)</string>
		<string>386[发音启蒙(鹅)[0:00:18[fayinqimeng(e)</string>
		<string>387[发音启蒙(飞机)[0:00:22[fayinqimeng(feiji)</string>
		<string>388[发音启蒙(风婆婆)[0:00:22[fayinqimeng(fengpopo)</string>
		<string>389[发音启蒙(跟妈妈做)[0:00:27[fayinqimeng(genmamazuo)</string>
		<string>390[发音启蒙(鼓)[0:00:17[fayinqimeng(gu)</string>
		<string>391[发音启蒙(胡萝卜)[0:00:18[fayinqimeng(huluobo)</string>
		<string>392[发音启蒙(蝴蝶)[0:00:18[fayinqimeng(hudie)</string>
		<string>393[发音启蒙(鸡冠花)[0:00:22[fayinqimeng(jiguanhua)</string>
		<string>394[发音启蒙(镜子)[0:00:20[fayinqimeng(jingzi)</string>
		<string>395[发音启蒙(桔子)[0:00:27[fayinqimeng(juzi)</string>
		<string>396[发音启蒙(菊花)[0:00:24[fayinqimeng(juhua)</string>
		<string>397[发音启蒙(雷公公)[0:00:20[fayinqimeng(leigonggong)</string>
		<string>398[发音启蒙(蚂蚁)[0:00:24[fayinqimeng(mayi)</string>
		<string>399[发音启蒙(棉花)[0:00:17[fayinqimeng(mianhua)</string>
		<string>400[发音启蒙(蘑菇)[0:00:17[fayinqimeng(mogu)</string>
		<string>401[发音启蒙(奶牛)[0:00:14[fayinqimeng(nainiu)</string>
		<string>402[发音启蒙(螃蟹)[0:00:16[fayinqimeng(pangxie)</string>
		<string>403[发音启蒙(葡萄)[0:00:25[fayinqimeng(putao)</string>
		<string>404[发音启蒙(骑木马)[0:01:02[fayinqimeng(qimuma)</string>
		<string>405[发音启蒙(蜻蜓)[0:00:16[fayinqimeng(qingting)</string>
		<string>406[发音启蒙(秋叶)[0:00:24[fayinqimeng(qiuye)</string>
		<string>407[发音启蒙(傻娃娃)[0:00:59[fayinqimeng(shawawa)</string>
		<string>408[发音启蒙(山)[0:00:20[fayinqimeng(shan)</string>
		<string>409[发音启蒙(石榴)[0:00:35[fayinqimeng(shiliu)</string>
		<string>410[发音启蒙(手)[0:00:21[fayinqimeng(shou)</string>
		<string>411[发音启蒙(蔬菜)[0:00:16[fayinqimeng(shucai)</string>
		<string>412[发音启蒙(睡觉)[0:00:33[fayinqimeng(shuijiao)</string>
		<string>413[发音启蒙(太阳)[0:00:20[fayinqimeng(taiyang)</string>
		<string>414[发音启蒙(图画书)[0:00:24[fayinqimeng(tuhuashu)</string>
		<string>415[发音启蒙(兔子)[0:00:21[fayinqimeng(tuzi)</string>
		<string>416[发音启蒙(我的家)[0:00:25[fayinqimeng(wodejia)</string>
		<string>417[发音启蒙(乌龟)[0:00:23[fayinqimeng(wugui)</string>
		<string>418[发音启蒙(西瓜)[0:00:16[fayinqimeng(xigua)</string>
		<string>419[发音启蒙(香蕉)[0:00:23[fayinqimeng(xiangjiao)</string>
		<string>420[发音启蒙(向日葵)[0:00:18[fayinqimeng(xiangrikui)</string>
		<string>421[发音启蒙(小鸡)[0:00:15[fayinqimeng(xiaoji)</string>
		<string>422[发音启蒙(小花猫)[0:00:15[fayinqimeng(xiaohuamao)</string>
		<string>423[发音启蒙(小老鼠)[0:00:24[fayinqimeng(xiaolaoshu)</string>
		<string>424[发音启蒙(小蜜蜂)[0:00:15[fayinqimeng(xiaomifeng)</string>
		<string>425[发音启蒙(小鸟)[0:00:24[fayinqimeng(xiaoniao)</string>
		<string>426[发音启蒙(小企鹅)[0:00:24[fayinqimeng(xiaoqie)</string>
		<string>427[发音启蒙(小汽车)[0:00:22[fayinqimeng(xiaoqiche)</string>
		<string>428[发音启蒙(小桥)[0:00:25[fayinqimeng(xiaoqiao)</string>
		<string>429[发音启蒙(小青蛙)[0:00:16[fayinqimeng(xiaoqingwa)</string>
		<string>430[发音启蒙(小山羊)[0:00:26[fayinqimeng(xiaoshanyang)</string>
		<string>431[发音启蒙(小乌鸦)[0:01:02[fayinqimeng(xiaowuya)</string>
		<string>432[发音启蒙(小鸭)[0:00:26[fayinqimeng(xiaoya)</string>
		<string>433[发音启蒙(小鱼)[0:00:15[fayinqimeng(xiaoyu)</string>
		<string>434[发音启蒙(星星)[0:00:20[fayinqimeng(xingxing)</string>
		<string>435[发音启蒙(雪花)[0:00:20[fayinqimeng(xuehua)</string>
		<string>436[发音启蒙(鸭梨)[0:00:19[fayinqimeng(yali)</string>
		<string>437[发音启蒙(月亮)[0:00:24[fayinqimeng(yueliang)</string>
		<string>438[发音启蒙(照镜子)[0:00:52[fayinqimeng(zhaojingzi)</string>
		<string>439[发音启蒙(做衣裳)[0:00:24[fayinqimeng(zuoyishang)</string>
	</array>
	<key>1-2岁宝宝牙牙学语[开发宝宝语言能力，纠正发音错误，扩大认知，是具备教育功能的儿歌集。</key>
	<array>
		<string>296[儿歌白石塔[0:01:45[ergebaishita</string>
		<string>297[儿歌帮奶奶[0:00:26[ergebangnainai</string>
		<string>298[儿歌蚌和冰[0:00:19[ergebanghebing</string>
		<string>299[儿歌宝宝学走路[0:00:46[ergebaobaoxuezoulu</string>
		<string>300[儿歌抱抱熊达达[0:00:32[ergebaobaoxiongdada</string>
		<string>301[儿歌布娃娃[0:00:21[ergebuwawa</string>
		<string>302[儿歌彩铃乐翻天[0:00:40[ergecailinglefantian</string>
		<string>303[儿歌蚕和蝉[0:00:24[ergecanhechan</string>
		<string>304[儿歌插旗[0:00:21[ergechaqi</string>
		<string>305[儿歌吃瓜[0:00:27[ergechigua</string>
		<string>306[儿歌吃馍馍[0:00:22[ergechimomo</string>
		<string>307[儿歌搭塔[0:00:27[ergedata</string>
		<string>308[儿歌打个电话,找找朋友吧[0:00:36[ergedagedianhua,zhaozhaopengyouba</string>
		<string>309[儿歌打虎[0:00:23[ergedahu</string>
		<string>310[儿歌打狼[0:00:25[ergedalang</string>
		<string>311[儿歌打水[0:00:24[ergedashui</string>
		<string>312[儿歌大公鸡[0:00:13[ergedagongji</string>
		<string>313[儿歌顶针[0:00:21[ergedingzhen</string>
		<string>314[儿歌兜和豆[0:00:29[ergedouhedou</string>
		<string>315[儿歌鹅和蛇[0:00:20[ergeeheshe</string>
		<string>316[儿歌放花炮[0:00:20[ergefanghuapao</string>
		<string>317[儿歌蜂和风[0:00:14[ergefenghefeng</string>
		<string>318[儿歌挂冰花[0:00:27[ergeguabinghua</string>
		<string>319[儿歌号角[0:00:17[ergehaojiao</string>
		<string>320[儿歌猴与牛[0:00:28[ergehouyuniu</string>
		<string>321[儿歌葫芦娃[0:00:19[ergehuluwa</string>
		<string>322[儿歌花和瓜[0:00:33[ergehuahegua</string>
		<string>323[儿歌花生[0:00:12[ergehuasheng</string>
		<string>324[儿歌划船[0:00:26[ergehuachuan</string>
		<string>325[儿歌画鼻[0:00:19[ergehuabi</string>
		<string>326[儿歌火车[0:00:19[ergehuoche</string>
		<string>327[儿歌家[0:00:25[ergejia</string>
		<string>328[儿歌脚[0:00:09[ergejiao</string>
		<string>329[儿歌拉绳毛毛虫[0:00:36[ergelashengmaomaochong</string>
		<string>330[儿歌罗锅桥[0:00:19[ergeluoguoqiao</string>
		<string>331[儿歌猫和包[0:00:18[ergemaohebao</string>
		<string>332[儿歌拿蜡[0:00:17[ergenala</string>
		<string>333[儿歌鸟岛[0:00:28[ergeniaodao</string>
		<string>334[儿歌鸟和草[0:00:41[ergeniaohecao</string>
		<string>335[儿歌妞妞和牛牛[0:00:36[ergeniuniuheniuniu</string>
		<string>336[儿歌拍皮球[0:00:19[ergepaipiqiu</string>
		<string>337[儿歌胖胖喝汤[0:00:25[ergepangpanghetang</string>
		<string>338[儿歌佩佩妹妹和达达熊[0:00:37[ergepeipeimeimeihedadaxiong</string>
		<string>339[儿歌气球[0:00:22[ergeqiqiu</string>
		<string>340[儿歌牵牛花[0:00:13[ergeqianniuhua</string>
		<string>341[儿歌秋[0:00:21[ergeqiu</string>
		<string>342[儿歌扫雪[0:00:31[ergesaoxue</string>
		<string>343[儿歌十指和十趾[0:00:38[ergeshizhiheshizhi</string>
		<string>344[儿歌叔和姑姑[0:00:30[ergeshuhegugu</string>
		<string>345[儿歌刷牙[0:00:26[ergeshuaya</string>
		<string>346[儿歌四和十[0:01:56[ergesiheshi</string>
		<string>347[儿歌涛涛吃桃[0:00:30[ergetaotaochitao</string>
		<string>348[儿歌兔子做裤子[0:00:24[ergetuzizuokuzi</string>
		<string>349[儿歌玩具[0:00:22[ergewanju</string>
		<string>350[儿歌玩陀螺[0:00:28[ergewantuoluo</string>
		<string>351[儿歌蜗牛[0:00:19[ergewoniu</string>
		<string>352[儿歌我长牙了,真想咬咬咬[0:00:44[ergewozhangyale,zhenxiangyaoyaoyao</string>
		<string>353[儿歌洗澡[0:00:26[ergexizao</string>
		<string>354[儿歌下雨[0:00:16[ergexiayu</string>
		<string>355[儿歌夏天到[0:00:18[ergexiatiandao</string>
		<string>356[儿歌小宝宝[0:00:22[ergexiaobaobao</string>
		<string>357[儿歌小草[0:00:17[ergexiaocao</string>
		<string>358[儿歌小哥哥[0:00:21[ergexiaogege</string>
		<string>359[儿歌小黄狗[0:00:14[ergexiaohuanggou</string>
		<string>360[儿歌小马[0:00:13[ergexiaoma</string>
		<string>361[儿歌小鸟[0:00:21[ergexiaoniao</string>
		<string>362[儿歌小胖墩儿[0:00:20[ergexiaopangduner</string>
		<string>363[儿歌小文和小芬[0:00:22[ergexiaowenhexiaofen</string>
		<string>364[儿歌小猪[0:00:23[ergexiaozhu</string>
		<string>365[儿歌选笔[0:00:27[ergexuanbi</string>
		<string>366[儿歌学捏泥[0:00:33[ergexuenieni</string>
		<string>367[儿歌学爬[0:00:32[ergexuepa</string>
		<string>368[儿歌盐[0:00:17[ergeyan</string>
		<string>369[儿歌张小宝[0:00:37[ergezhangxiaobao</string>
		<string>370[儿歌蜘蛛与树[0:00:29[ergezhizhuyushu</string>
		<string>371[儿歌植树苗[0:00:27[ergezhishumiao</string>
		<string>372[儿歌追车[0:00:25[ergezhuiche</string>
		<string>373[儿歌坐车[0:00:31[ergezuoche</string>
		<string>374[儿歌做操[0:00:29[ergezuocao</string>
		<string>375[儿歌做运动,长大个[0:00:43[ergezuoyundong,zhangdage</string>
	</array>
	<key>2岁幼儿睡前故事[男女童声，故事生动又不长，特别适合2-3岁宝宝听，有助帮助睡眠。</key>
	<array>
		<string>72[2岁睡前故事开始语[0:03:07[2suishuiqiangushikaishiyu</string>
		<string>73[矮婆婆的树皮小屋[0:03:08[aipopodeshupixiaowu</string>
		<string>74[吃甜粥[0:01:41[chitianzhou</string>
		<string>75[大香蕉[0:02:14[daxiangjiao</string>
		<string>76[电视迷[0:01:13[dianshimi</string>
		<string>77[电梯就像大老虎[0:01:26[diantijiuxiangdalaohu</string>
		<string>78[冬天的小路[0:02:19[dongtiandexiaolu</string>
		<string>79[多吃青菜漂漂亮[0:01:15[duochiqingcaipiaopiaoliang</string>
		<string>80[风娃娃作客[0:03:49[fengwawazuoke</string>
		<string>81[乖乖睡觉[0:06:48[guaiguaishuijiao</string>
		<string>82[过家家[0:01:44[guojiajia</string>
		<string>83[好东西一起玩[0:07:09[haodongxiyiqiwan</string>
		<string>84[好习惯随身带[0:04:23[haoxiguansuishendai</string>
		<string>85[和太阳公公一起起床[0:07:07[hetaiyanggonggongyiqiqichuang</string>
		<string>86[和太阳做朋友[0:01:55[hetaiyangzuopengyou</string>
		<string>87[疾病大王逃跑了[0:06:23[jibingdawangtaopaole</string>
		<string>88[剪头发,我不怕[0:06:16[jiantoufa,wobupa</string>
		<string>89[晶晶看家[0:01:52[jingjingkanjia</string>
		<string>90[快快跑[0:04:53[kuaikuaipao</string>
		<string>91[蓝帐子[0:02:23[lanzhangzi</string>
		<string>92[慢吞吞的月亮[0:02:02[mantuntundeyueliang</string>
		<string>93[咪咪和小布熊[0:01:59[mimihexiaobuxiong</string>
		<string>94[小闹钟[0:01:46[xiaonaozhong</string>
		<string>95[小兔白白[0:01:43[xiaotubaibai</string>
		<string>96[小兔子乖乖[0:03:13[xiaotuziguaiguai</string>
		<string>97[小小男子汉[0:03:31[xiaoxiaonanzihan</string>
		<string>98[雪花[0:02:19[xuehua</string>
		<string>99[猪宝宝[0:01:42[zhubaobao</string>
		<string>100[祝你生日快乐[0:03:32[zhunishengrikuaile</string>
	</array>
	<key>3岁幼儿睡前故事[精选经典童话，这些故事能留给宝宝一段幸福甜蜜的回忆，并乖乖安心入睡。</key>
	<array>
		<string>280[冰激淋合唱团[0:03:10[bingjilinhechangtuan</string>
		<string>281[冰激淋罗罗[0:02:28[bingjilinluoluo</string>
		<string>282[大嗓门[0:02:29[dasangmen</string>
		<string>283[胆小先生[0:03:05[danxiaoxiansheng</string>
		<string>284[冬天的聚会[0:02:54[dongtiandejuhui</string>
		<string>285[很胖很胖的外婆[0:03:09[henpanghenpangdewaipo</string>
		<string>286[九只猴子[0:02:41[jiuzhihouzi</string>
		<string>287[开始语[0:03:02[kaishiyu</string>
		<string>288[门上的画[0:04:31[menshangdehua</string>
		<string>289[青蛙和绿色的伞[0:03:28[qingwahelvsedesan</string>
		<string>290[三只蝴蝶[0:03:49[sanzhihudie</string>
		<string>291[桃树下的小白兔[0:04:11[taoshuxiadexiaobaitu</string>
		<string>292[小蚂蚁坐汽车[0:02:55[xiaomayizuoqiche</string>
		<string>293[小田鼠的奖品[0:03:32[xiaotianshudejiangpin</string>
		<string>294[小猪画蝌蚪[0:03:00[xiaozhuhuakedou</string>
		<string>295[亚亚的伞[0:03:43[yayadesan</string>
	</array>
	<key>一千零一夜1[阿拉伯民间故事，又译《天方夜谭》。一千零一夜的书名出自这部故事集的引子。</key>
	<array>
		<string>811[凶猛的国王[0:10:07[shannuya1-xiongmengdeguowang</string>
		<string>812[水牛和毛驴的对话[0:04:31[shannuya2-shuiniuhemaolvdeduihua</string>
		<string>813[桑鲁卓令人着迷的故事[0:02:49[shannuya3-sangluzhuolingrenzhemidegushi</string>
		<string>814[可怜的渔夫[0:03:50[yufuhemogui1-keliandeyufu</string>
		<string>815[渔夫遭遇魔鬼[0:08:33[yufuhemogui2-yufuzaoyumogui</string>
		<string>816[渔夫智胜魔鬼[0:04:24[yufuhemogui3-yufuzhishengmogui</string>
		<string>817[发现神奇宝藏[0:05:36[alibaba1-faxianshenqibaocang</string>
		<string>818[卡西姆被杀[0:02:52[alibaba2-kaximubeisha</string>
		<string>819[识破强盗阴谋[0:03:47[alibaba3-shipoqiangdaoyinmou</string>
		<string>820[四十大盗被消灭[0:01:41[alibaba4-sishidadaobeixiaomie</string>
		<string>821[智歼强盗头子[0:02:51[alibaba5-zhijianqiangdaotouzi</string>
		<string>822[巧遇美丽的公主[0:04:08[wumuma1-qiaoyumeilidegongzhu</string>
		<string>823[哲人抢走公主[0:01:43[wumuma2-zherenqiangzougongzhu</string>
		<string>824[王子智救公主[0:02:22[wumuma3-wangzizhijiugongzhu</string>
		<string>825[钱商和小偷[0:06:03[qianshanghexiaotou</string>
	</array>
	<key>一千零一夜2[阿拉伯民间故事，由著名演播艺术家曹爷爷主讲</key>
	<array>
		<string>826[顽皮的少年[0:02:09[alading1-wanpideshaonian</string>
		<string>827[非洲魔法师[0:05:34[alading2-feizhoumofashi</string>
		<string>828[取得神灯被困[0:09:10[alading3-qudeshendengbeikun</string>
		<string>829[戒指神和神灯[0:04:32[alading4-jiezhishenheshendeng</string>
		<string>830[向公主求婚[0:03:05[alading5-xianggongzhuqiuhun</string>
		<string>831[阿拉丁再遇波折[0:04:06[alading6-aladingzaiyubozhe</string>
		<string>832[辉煌而隆重的婚礼[0:05:58[alading7-huihuangerlongzhongdehunli</string>
		<string>833[徒走私访[0:02:53[gongzhuhege1-tuzousifang</string>
		<string>834[嫉妒酿成的阴谋[0:04:19[gongzhuhege2-jiduniangchengdeyinmou</string>
		<string>835[寻找能言鸟[0:08:32[gongzhuhege3-xunzhaonengyanniao</string>
		<string>836[国王一家团聚[0:03:20[gongzhuhege4-guowangyijiatuanju</string>
		<string>837[贪玩的孩子[0:02:30[haximudeqiyu1-tanwandehaizi</string>
		<string>838[做善事遭人欺[0:06:00[haximudeqiyu2-zuoshanshizaorenqi</string>
		<string>839[蛇国奇遇[0:05:50[haximudeqiyu3-sheguoqiyu</string>
		<string>840[辛巴达的第一次航海旅行[0:13:52[xinbada1</string>
		<string>841[辛巴达的第二次航海旅行[0:08:50[xinbada2</string>
		<string>842[辛巴达的第三次航海旅行[0:10:15[xinbada3</string>
		<string>843[辛巴达的第四次航海旅行[0:09:36[xinbada4</string>
		<string>844[辛巴达的第五次航海旅行[0:08:35[xinbada5</string>
		<string>845[辛巴达的第六次航海旅行[0:07:35[xinbada6</string>
		<string>846[辛巴达的第七次航海旅行[0:13:31[xinbada7</string>
	</array>
	<key>伊索寓言1[古希腊民间流传的讽喻故事，经后人加工，是一部世界上最早的寓言故事集。</key>
	<array>
		<string>101[爱学人的猴子[0:02:03[aixuerendehouzi</string>
		<string>102[被狗咬的人[0:00:30[beigouyaoderen</string>
		<string>103[被剪毛的羊[0:00:22[beijianmaodeyang</string>
		<string>104[被践踏的蛇[0:00:24[beijiantadeshe</string>
		<string>105[蝙蝠[0:02:44[bianfu[0:02:44</string>
		<string>106[病驴和狼[0:00:19[binglvhelang</string>
		<string>107[病人和医生[0:00:47[bingrenheyisheng</string>
		<string>108[捕鸟人和冠雀[0:00:43[buniaorenheguanque</string>
		<string>109[苍蝇[0:00:29[cangying</string>
		<string>110[苍蝇和蜜蜂[0:01:38[cangyinghemifeng</string>
		<string>111[蝉和狐狸[0:00:47[chanhehuli</string>
		<string>112[吃不到的葡萄酸[0:01:43[chibudaodeputaosuan</string>
		<string>113[吹牛的运动[0:00:51[chuiniudeyundong</string>
		<string>114[聪明的农夫[0:02:31[congmingdenongfu</string>
		<string>115[聪明的小绵羊[0:02:18[congmingdexiaomianyang</string>
		<string>116[大河和池塘[0:02:12[dahehechitang</string>
		<string>117[肚胀的狐狸[0:00:41[duzhangdehuli</string>
		<string>118[富人和鞣皮匠[0:00:28[furenheroupijiang</string>
		<string>119[蝮蛇和锉刀[0:00:29[fushehecuodao</string>
		<string>120[蝮蛇和水蛇[0:01:11[fusheheshuishe</string>
	</array>
	<key>儿童百科全书第一季[让孩子了解大自然，掌握科学知识</key>
	<array>
		<string>1014[太阳妈妈和她的儿女[0:05:45[taiyangmamahetadeernv</string>
		<string>1015[永不熄灭的天灯-恒星[0:04:05[yongbuximiedetiandenghengxing</string>
		<string>1016[美丽的银河[0:04:40[meilideyinhe</string>
		<string>1017[天外来客-流星和陨石[0:05:21[tianwailaikeliuxingheyunshi</string>
		<string>1018[夜晚的向导-北斗七星[0:04:53[yewandexiangdaobeidouqixing</string>
		<string>1019[拖着尾巴的星星-慧星[0:04:10[tuozheweibadexingxinghuixing</string>
		<string>1020[地球的伙伴-月亮[0:06:11[diqiudehuobanyueliang</string>
		<string>1021[天空为什么是蓝色的[0:03:13[tiankongweishenmeshilansede</string>
		<string>1022[复杂多变的天气[0:05:17[fuzaduobiandetianqi</string>
		<string>1023[闪电和雷[0:02:50[shandianhelei</string>
		<string>1024[大陆的舞台-高原[0:03:37[daludewutaigaoyuang</string>
		<string>1025[地球的聚宝盆-盆地[0:04:45[diqiudejubaopengpengdi</string>
		<string>1026[地球的屋架-山地[0:03:52[diqiudewujiashandi</string>
		<string>1027[荒芜浩瀚的沙漠[0:04:27[huangwuhaohandeshamo</string>
		<string>1028[汪洋大海中的陆地-岛屿[0:04:38[daoyu</string>
		<string>1029[大海的故事[0:06:46[dahaidegushi</string>
		<string>1030[走在地上的水-河流[0:07:27[heliu</string>
		<string>1031[最大最深的海洋-太平洋[0:03:11[taipingyang</string>
		<string>1032[京杭大运河[0:03:33[jinghangdayunhe</string>
		<string>1033[世界第一大湖泊-里海[0:02:37[lihai</string>
	</array>
	<key>妈妈睡前故事[让孩子在妈妈温柔的声音，美丽的故事，还有孩子的满意中进入梦乡。</key>
	<array>
		<string>966[爱打喷嚏的小狗[0:03:27[aidapentidexiaogou</string>
		<string>967[班比的怪房子[0:04:23[banbideguaifangzi</string>
		<string>968[宝宝旅行团[0:03:49[baobaolvxingtuan</string>
		<string>969[蝙蝠的故事[0:10:31[bianfudegushi</string>
		<string>970[超级巧克力先生[0:03:38[chaojiqiaokelixiansheng</string>
		<string>971[胆小的巨人[0:03:35[danxiaodejuren</string>
		<string>972[稻草人[0:03:06[daocaoren</string>
		<string>973[冬天的小鱼[0:04:21[dongtiandexiaoyu</string>
		<string>974[杜鹃鸟[0:04:07[dujuanniao</string>
		<string>975[多多的朋友[0:03:30[duoduodepengyou</string>
		<string>976[虎狗[0:03:49[hugou</string>
		<string>977[金海螺小屋[0:03:12[jinhailuoxiaowu</string>
		<string>978[绿色的世界[0:03:33[lvsedeshijie</string>
		<string>979[七彩的风[0:03:13[qicaidefeng</string>
		<string>980[森林里捡来的故事[0:02:35[senlinlijianlaidegushi</string>
		<string>981[送你一片白云[0:03:33[songniyipianbaiyun</string>
		<string>982[太阳哪儿去了[0:04:50[taiyangnaerqule</string>
		<string>983[小老鼠和小小萝卜头[0:03:48[xiaolaoshuhexiaoxiaoluobotou</string>
		<string>984[小胖熊爬楼梯[0:04:23[xiaopangxiongpalouti</string>
		<string>985[小雨点的催眠曲[0:03:52[xiaoyudiandecuimianqu</string>
		<string>986[小猪照镜子[0:02:45[xiaozhuzhaojingzi</string>
		<string>987[熊的公寓[0:04:O0[xiongdegongyu</string>
		<string>988[夜间的朋友[0:04:24[yejiandepengyou</string>
		<string>989[一片绿叶变呀变[0:03:59[yipianlvyebianyabian</string>
	</array>
	<key>安徒生童话上[它带给我们的不仅仅是温馨、欢乐、启迪，更多的是思考和悠远的人生体味。</key>
	<array>
		<string>788[海的女儿[0:14:42[antusheng-haidenver</string>
		<string>789[丑小鸭[0:12:51[antusheng-chouxiaoya</string>
		<string>790[打火匣子[0:12:43[antusheng-dahuoxia</string>
		<string>791[老头子做事总没错[0:07:43[antusheng-laotouzizuoshizongmeicuo</string>
		<string>792[豌豆上的公主[0:04:51[antusheng-wandoushangdegongzhu</string>
		<string>793[小意达的花儿[0:11:05 [antusheng-xiaoyidadehuaer</string>
		<string>794[卖火柴的小女孩[0:09:31[antusheng-maihuochaidexiaonvhai</string>
		<string>795[红舞鞋[0:09:42[antusheng-hongwuxie</string>
		<string>796[笨汉汉斯[0:07:58[antusheng-benhanhansi</string>
		<string>797[小克劳斯和大克劳斯[0:11:12[antusheng-xiaokelaosihedakelaosi</string>
		<string>798[拇指姑娘[0:13:57[antusheng-muzhiguniang</string>
		<string>799[夜莺[0:12:09[antusheng-yeying</string>
		<string>800[坚定的锡兵[0:06:06[antusheng-jiandingdexibing</string>
		<string>801[野天鹅[0:14:49[antusheng-yetiane</string>
		<string>802[皇帝的新装[0:12:19[antusheng-huangdidexinzhuang</string>
		<string>803[小鬼和小商人[0:14:31    [antusheng-xiaoguihexiaoshangren</string>
		<string>804[梦神[0:10:15[antusheng-mengsheng</string>
		<string>805[蝴蝶的故事[0:04:39[antusheng-hudiedegushi</string>
		<string>806[小冷杉树[0:06:49         [antusheng-xiaolengshanshu</string>
		<string>807[牧猪人[0:09:26[antusheng-muzhuren</string>
		<string>808[飞箱[0:07:49[antusheng-feixiang</string>
		<string>809[完全是真的[0:06:54[antusheng-wanquanshizhende</string>
		<string>810[邮车里的十二位乘客[0:08:14[antusheng-youchelideshierweichengke</string>
	</array>
	<key>快乐成长系列之一[让宝宝听完养成生活好习惯的故事</key>
	<array>
		<string>990[爱看电视的宝宝[0:01:30[aikandianshidebaobao</string>
		<string>991[按时嘘嘘[0:01:35[anshixuxu</string>
		<string>992[宝宝快出门吧[0:01:46[baobaokuaichumenba</string>
		<string>993[宝宝快睡吧[0:02:17[baobaokuaishuiba</string>
		<string>994[不爱穿衣服的宝宝[0:01:46[buaichuanyifudebaobao</string>
		<string>995[吃完饭再玩[0:00:58[chiwanfanzaiwan</string>
		<string>996[打败细菌大王[0:01:43[dabaixijundawang</string>
		<string>997[戴眼镜的小刺猬[0:01:57[daiyanjingdexiaociwei</string>
		<string>998[多喝水[0:02:02[duoheshui</string>
		<string>999[发脾气的宝宝[0:01:33[aifapiqidebaobao</string>
		<string>1000[好好吃饭[0:01:36[haohaochifan</string>
		<string>1001[喝水的小秘密[0:02:00[heshuidexiaomimi</string>
		<string>1002[剪头发，奇遇记[0:02:42[jiantoufa,jiyuji</string>
		<string>1003[剪完头发更可爱[0:01:46[jianwandoufagengkeai</string>
		<string>1004[快快乐乐去刷牙[0:01:58[kuaikuailelequshuaya</string>
		<string>1005[神奇的梦境[0:04:11[shenqidemengjing</string>
		<string>1006[刷刷小牙，吃饭更香[0:02:25[shuashuaxiaoya,chifangengxiang</string>
		<string>1007[我爱去幼儿园[0:01:21[woaiquyoueryuan</string>
		<string>1008[我喜欢小澡盆[0:02:13[woxihuanxiaozaopeng</string>
		<string>1009[我要自己穿衣服[0:01:48[woyaozijinchuanyifu</string>
		<string>1010[洗完小手握握手[0:02:09[xiwanxiaoshouwowoshou</string>
		<string>1011[洗完澡澡听故事[0:02:39[xiwanzaozaotinggushi</string>
		<string>1012[小尿盆的悄悄话[0:02:54[xiaoniaopengdeqiaoqiaohua</string>
		<string>1013[找宝宝[0:01:22[zhaobaobao</string>
	</array>
	<key>成语故事第一集[每一个成语的背后都有一个含义深远的故事</key>
	<array>
		<string>1034[矮子看戏[0:01:08[aizikanxi</string>
		<string>1035[暗渡陈仓[0:06:44[anduchengcang</string>
		<string>1036[不寒而栗[0:01:12[buhanerli</string>
		<string>1037[不可救药[0:01:06[bukejiuyao</string>
		<string>1038[割席分座[0:01:12[gexifenzuo</string>
		<string>1039[开诚布公[0:02:09[kaichengbugong</string>
		<string>1040[口蜜腹剑[0:01:37[koumifujian</string>
		<string>1041[靡靡之音[0:00:51[mimizhiyin</string>
		<string>1042[弄巧成拙[0:02:05[nongqiaochengzhuo</string>
		<string>1043[人琴俱亡[0:02:11[renqingjuwang</string>
		<string>1044[人言可畏[0:01:35[renyankewei</string>
		<string>1045[入木三分[0:01:37[rumusanfen</string>
		<string>1046[胸有成竹[0:01:23[xiongyouchengzhu</string>
		<string>1047[夜郎自大[0:03:46[yelangzida</string>
		<string>1048[一不做，二不休[0:01:33[yibuzuoerbuxiu</string>
		<string>1049[一衣带水[0:01:30[yiyidaishui</string>
		<string>1050[一字千金[0:01:24[yiziqianjin</string>
		<string>1051[颐指气使[0:02:05[yizhiqishi</string>
		<string>1052[以身试法[0:01:42[yishengshifa</string>
		<string>1053[因势利导[0:01:43[yingshilidao</string>
		<string>1054[庸人自扰[0:01:40[rongrenzirao</string>
		<string>1055[纸上谈兵[0:02:37[zhishangtanbing</string>
		<string>1056[指鹿为马[0:01:18[zhiluweima</string>
		<string>1057[志在四方[0:01:27[zhizaisifang</string>
		<string>1058[众叛亲离[0:01:48[zhongpanqinli</string>
		<string>1059[自作自受[0:03:29[zizuozishou</string>
		<string>1060[纵虎归山[0:01:36[zonghuguishan</string>
		<string>1061[作威作福[0:01:29[zuoweizuofu</string>
	</array>
	<key>格林童话1[德国著名语言家雅格.格林和威廉.格林兄弟收集、整理、加工的德国民间文学。</key>
	<array>
		<string>212[矮人的礼物[0:08:30[airendeliwu</string>
		<string>213[白蛇[0:12:38[baishe</string>
		<string>214[白雪公主1[0:13:01[baixuegongzhu1</string>
		<string>215[白雪公主2[0:13:16[baixuegongzhu2</string>
		<string>216[玻璃棺材[0:07:47[boliguancai</string>
		<string>217[不孝的儿子[0:01:31[buxiaodeerzi</string>
		<string>218[布拉克家的闺女[0:01:17[bulakejiadeguinv</string>
		<string>219[布来梅市的乐师[0:10:15[bulaimeishideleshi</string>
		<string>220[聪明的爱尔莎[0:09:23[congmingdeaiersha</string>
		<string>221[聪明的格蕾特[0:06:16[congmingdegeleite</string>
		<string>222[聪明的牧童[0:02:28[congmingdemutong</string>
		<string>223[聪明的农家女[0:09:19[congmingdenongjianv</string>
		<string>224[聪明的小裁缝[0:09:59[congmingdexiaocaifeng</string>
		<string>225[大拇指漫游记[0:13:47[damuzhimanyouji</string>
		<string>226[丁香花[0:12:35[dingxianghua</string>
		<string>227[纺锤梭子和针[0:11:41[fangchuisuozihezhen</string>
		<string>228[灰姑娘-女声[0:21:45[huiguniang-nvsheng</string>
		<string>229[狼和七只小羊[0:14:18[langheqizhixiaoyang</string>
		<string>230[烈火烧出的年轻人[0:04:52[liehuoshaochudenianqingren</string>
		<string>231[没有手的女孩[0:17:42[meiyoushoudenvhai</string>
		<string>232[美女与野兽[0:31:55[meinvyuyeshou</string>
	</array>
	<key>格林童话2[德国著名语言家雅格.格林和威廉.格林兄弟收集、整理、加工的德国民间文学。</key>
	<array>
		<string>233[魔鬼的邋遢兄弟[0:10:24[moguidelataxiongdi</string>
		<string>234[魔鬼和它的祖母[0:09:56[moguihetadezumu</string>
		<string>235[女水妖[0:03:27[nvshuiyao</string>
		<string>236[青蛙王子[0:12:02[qingwawangzi</string>
		<string>237[三个小矮人[0:13:53[sangexiaoairen</string>
		<string>238[圣母玛利亚的孩子[0:15:30[shengmumaliyadehaizi</string>
		<string>239[狮子和会唱会跳的百灵鸟[0:16:12[shizihehuichanghuitiaodebailingniao</string>
		<string>240[十二个懒长工[0:06:22[shiergelanchanggong</string>
		<string>241[十二个猎手[0:07:05[shiergelieshou</string>
		<string>242[睡美人[0:04:32[shuimeiren</string>
		<string>243[死神教父[0:08:08[sishenjiaofu</string>
		<string>244[特鲁得太太[0:02:15[teludetaitai</string>
		<string>245[天国里的裁缝[0:04:48[tianguolidecaifeng</string>
		<string>246[挑选未婚妻[0:01:15[tiaoxuanweihunqi</string>
		<string>247[铁炉子[0:13:58[tieluzi</string>
		<string>248[兔子和刺猬[0:08:02[tuziheciwei</string>
		<string>249[万能博士[0:04:51[wannengboshi</string>
		<string>250[莴苣姑娘[0:10:35[wojuguniang</string>
		<string>251[小红帽[0:07:53[xiaohongmao</string>
		<string>252[一只眼两只眼和三只眼[0:17:05[yizhiyanliangzhiyanhesanzhiyan</string>
		<string>253[勇敢的小裁缝[0:09:30[yonggandexiaocaifeng</string>
		<string>254[渔夫和金鱼[0:24:23[yufuhejinyu</string>
	</array>
	<key>爸爸睡前十分钟故事[特邀著名儿童节目主持人演播使得每个故事更加生动，富有表现力，加速睡眠。</key>
	<array>
		<string>61[保卫松树林[0:05:18[baoweisongshulin</string>
		<string>62[懂礼貌的小白兔[0:04:22[donglimaodexiaobaitu</string>
		<string>63[鹤与鸡[0:04:16[heyuji</string>
		<string>64[狐狸盗宝记[0:04:09[hulidaobaoji</string>
		<string>65[来自鸟国的消息[0:05:57[laiziniaoguodexiaoxi</string>
		<string>66[上夜班的动物[0:07:45[shangyebandedongwu</string>
		<string>67[小溜溜溜了[0:06:33[xiaoliuliuliule</string>
		<string>68[小燕子找雨[0:07:03[xiaoyanzizhaoyu</string>
		<string>69[雪夜疑案[0:03:31[xueyeyian</string>
		<string>70[在快活的小溪上[0:06:52[zaikuaihuodexiaoxishang</string>
		<string>71[侦探和小偷[0:05:52[zhentanhexiaotou</string>
	</array>
	<key>精选摇篮曲之一[曲调轻柔，营造出舒适平和的声音环境，能缓和宝宝焦虑情绪，也适合做胎教音乐。</key>
	<array>
		<string>440[爱之梦[0:04:31[aizhimeng</string>
		<string>441[Baby Love[0:03:02[babylove</string>
		<string>442[baby摇篮曲[0:02:59[babyyaolanqu</string>
		<string>443[班得瑞梦幻摇篮曲[0:02:33[banderuimenghuanyaolanqu</string>
		<string>444[大海的摇篮曲[0:04:13[dahaideyaolanqu</string>
		<string>445[DrDrift[0:03:24[DrDrift</string>
		<string>446[孩子睡[0:05:26[haizishui</string>
		<string>447[加雅涅摇篮曲[0:04:52[jiayanieyaolanqu</string>
		<string>448[快安睡[0:03:36[kuaianshui</string>
		<string>449[啦啦噜[0:02:38[lalalu</string>
		<string>450[蓝色的多瑙河[0:03:44[lansededuonaohe</string>
		<string>451[蓝色珊瑚[0:04:30[lanseshanhu</string>
		<string>452[Lullaby Wishes[0:03:49[lullabywishes</string>
		<string>453[May All Your Dreams Come True[0:03:34[mayallyourdreamscometrue</string>
		<string>454[梦境[0:03:47[mengjing</string>
		<string>455[莫扎特效应之摇篮曲[0:02:05[mozhatexiaoyingzhiyaolanqu</string>
		<string>456[念故乡[0:04:14[nianguxiang</string>
		<string>457[圣母玛丽亚催眠曲[0:03:38[shengmumaliyacuimianqu</string>
		<string>458[睡觉吧，小宝贝[0:03:02[shuijiaoba,xiaobaobei</string>
	</array>
	<key>精选摇篮曲之二[曲调轻柔，营造出舒适平和的声音环境，能缓和宝宝焦虑情绪，也适合做胎教音乐。</key>
	<array>
		<string>459[Snuggle Up[0:02:42[SnuggleUp</string>
		<string>460[The Rocking Chair Song[0:03:33[TheRockingChairSong</string>
		<string>461[我亲爱的宝贝,你快睡啊,你快睡[0:04:10[woqinaidebaobei,nikuaishuia,nikuaishui</string>
		<string>462[五木摇篮曲[0:02:21[wumuyaolanqu</string>
		<string>463[蟋蟀奏鸣曲[0:04:49[xishuaizoumingqu</string>
		<string>464[小夜曲(舒伯特)[0:02:41[xiaoyequ(shubote)</string>
		<string>465[摇篮曲(贝多芬)[0:05:15[yaolanqu(beiduofen)</string>
		<string>466[摇篮曲(布拉姆斯)[0:03:00[yaolanqu(bulamusi)</string>
		<string>467[摇篮曲(戈达德)[0:02:42[yaolanqu(gedade)</string>
		<string>468[摇篮曲(古诺)[0:02:25[yaolanqu(gunuo)</string>
		<string>469[摇篮曲(贺绿汀)[0:02:49[yaolanqu(helvting)</string>
		<string>470[摇篮曲(贺西格)[0:04:56[yaolanqu(hexige)</string>
		<string>471[摇篮曲(舒伯特)[0:02:59[yaolanqu(shubote)</string>
		<string>472[摇篮曲(肖邦)[0:03:53[yaolanqu(xiaobang)</string>
		<string>473[摇篮曲伴奏[0:02:15[yaolanqubanzou</string>
		<string>474[夜曲[0:05:24[yequ</string>
		<string>475[约赛兰摇篮曲[0:04:40[yuesailanyaolanqu</string>
		<string>476[竹田摇篮曲[0:02:43[zhutianyaolanqu</string>
		<string>477[鳟鱼五重奏(舒伯特)[0:07:29[zunyuwuzhongzou(shubote)</string>
	</array>
	<key>经典童话第一集上[汇集世界经典童话故事，音质清晰，情节引人入胜，希望宝宝们会喜欢！</key>
	<array>
		<string>478[巴警官的故事[0:03:17[bajingguandegushi</string>
		<string>479[白云[0:04:16[baiyun</string>
		<string>480[宝宝不怕[0:02:11[baobaobupa</string>
		<string>481[笨狮子[0:03:57[benshizi</string>
		<string>482[不光彩的亚军[0:04:15[buguangcaideyajun</string>
		<string>483[采蘑菇的小兔子[0:04:52[caimogudexiaotuzi</string>
		<string>484[聪明的小牧人[0:03:48[congmingdexiaomuren</string>
		<string>485[大豆虫和小蚂蚁[0:05:28[dadouchonghexiaomayi</string>
		<string>486[大嗓门先生[0:03:35[dasangmenxiansheng</string>
		<string>487[大侦探和他的助手[0:02:18[dazhentanhetadezhushou</string>
		<string>488[第三幅画[0:01:18[disanfuhua</string>
		<string>489[电视迷上课[0:04:12[dianshimishangke</string>
		<string>490[肚子里的酒厂[0:03:12[duzilidejiuchang</string>
		<string>491[好邻居[0:05:25[haolinju</string>
		<string>492[猴子磨刀[0:01:12[houzimodao</string>
		<string>493[狐狸告状[0:05:25[huligaozhuang</string>
		<string>494[黄鹂和山雀[0:02:46[huangliheshanque</string>
		<string>495[会叫的猫和不叫的狗[0:02:38[huijiaodemaohebujiaodegou</string>
		<string>496[火人[0:03:38[huoren</string>
		<string>497[机器妈妈[0:05:25[jiqimama</string>
	</array>
	<key>经典童话第一集下[汇集世界经典童话故事，音质清晰，情节引人入胜，希望宝宝们会喜欢！</key>
	<array>
		<string>498[鸡蛋是谁偷的[0:04:58[jidanshishuitoude</string>
		<string>499[借尾巴[0:04:52[jieweiba</string>
		<string>500[可爱的泡泡[0:05:15[keaidepaopao</string>
		<string>501[狼和羔羊[0:02:53[langhegaoyang</string>
		<string>502[老虎、螃蟹和蜘蛛[0:02:51[laohu,pangxiehezhizhu</string>
		<string>503[两个旋和三个旋[0:03:51[lianggexuanhesangexuan</string>
		<string>504[妈妈的眼睛[0:01:43[mamadeyanjing</string>
		<string>505[蚂蚁与犀牛[0:02:43[mayiyuxiniu</string>
		<string>506[猫头鹰电视迷[0:01:49[maotouyingdianshimi</string>
		<string>507[美丽的大海[0:03:47[meilidedahai</string>
		<string>508[妹妹的布娃娃[0:01:54[meimeidebuwawa</string>
		<string>509[牛伯伯种菜[0:05:18[niubobozhongcai</string>
		<string>510[奇怪的花生[0:03:59[qiguaidehuasheng</string>
		<string>511[三只快活的小老鼠[0:04:22[sanzhikuaihuodexiaolaoshu</string>
		<string>512[三只老鼠[0:02:51[sanzhilaoshu</string>
		<string>513[森林里的红房子[0:04:34[senlinlidehongfangzi</string>
		<string>514[神奇的呵欠[0:04:04[shenqideheqian</string>
		<string>515[树叶从哪里来的？[0:03:24[shuyecongnalilaide</string>
		<string>516[谁偷的钱[0:04:12[shuitoudeqian</string>
		<string>517[水底换房大会[0:05:09[shuidihuanfangdahui</string>
	</array>
	<key>经典童话第二集上[汇集世界经典童话故事，音质清晰，情节引人入胜，希望宝宝们会喜欢！</key>
	<array>
		<string>518[水中屏气比赛[0:04:29[shuizhongpingqibisai</string>
		<string>519[送给盲婆婆的蝈蝈[0:01:05[songgeimangpopodeguoguo</string>
		<string>520[童辉照井[0:03:45[tonghuizhaojing</string>
		<string>521[王妃头上的彩云[0:04:24[wangfeitoushangdecaiyun</string>
		<string>522[危险的瘪轮胎[0:02:37[weixiandebieluntai</string>
		<string>523[蚊子坏蛋哪里逃[0:05:32[wenzihuaidannalitao</string>
		<string>524[蜗牛和乌龟比本领[0:04:24[woniuhewuguibibenling</string>
		<string>525[无刺刺猥[0:03:51[wuciciwei</string>
		<string>526[消失在迷雾中的兵团[0:05:35[xiaoshizaimiwuzhongdebingtuan</string>
		<string>527[小阿凡提当裁判[0:04:54[xiaoafantidangcaipan</string>
		<string>528[小壁虎[0:04:29[xiaobihu</string>
		<string>529[小壁虎借尾巴[0:03:20[xiaobihujieweiba</string>
		<string>530[小果树生病了[0:02:37[xiaoguoshushengbingle</string>
		<string>531[小孩猜哑谜[0:01:10[xiaohaicaiyami</string>
		<string>532[小鹤鸟学捉鱼[0:04:39[xiaoheniaoxuezhuoyu</string>
		<string>533[小猴织布[0:02:09[xiaohouzhibu</string>
		<string>534[小花鸡种花生[0:03:49[xiaohuajizhonghuasheng</string>
		<string>535[小金鱼看家[0:03:10[xiaojinyukanjia</string>
		<string>536[小金鱼捉迷藏[0:04:45[xiaojinyuzhuomicang</string>
	</array>
	<key>经典童话第二集下[汇集世界经典童话故事，音质清晰，情节引人入胜，希望宝宝们会喜欢！</key>
	<array>
		<string>537[小蝌蚪吃尾巴[0:01:57[xiaokedouchiweiba</string>
		<string>538[小棋手大战双棋王[0:02:19[xiaoqishoudazhanshuangqiwang</string>
		<string>539[小手拉小手[0:01:50[xiaoshoulaxiaoshou</string>
		<string>540[小兔的春装[0:03:20[xiaotudechunzhuang</string>
		<string>541[小乌龟找工作[0:04:41[xiaowuguizhaogongzuo</string>
		<string>542[小熊温尼浦[0:03:54[xiaoxiongwennipu</string>
		<string>543[新闻错不错[0:01:30[xinwencuobucuo</string>
		<string>544[鸭子为什么会游泳[0:05:02[yaziweishenmehuiyouyong</string>
		<string>545[要是你在野外迷了路[0:02:30[yaoshinizaiyewaimilelu</string>
		<string>546[一头绝顶聪明的猪[0:04:21[yitoujuedingcongmingdezhu</string>
		<string>547[一只小胖猪[0:02:04[yizhixiaopangzhu</string>
		<string>548[院子里的对话[0:05:40[yuanzilideduihua</string>
		<string>549[月亮的脸[0:04:55[yueliangdelian</string>
		<string>550[月夜怪语[0:04:32[yueyeguaiyu</string>
		<string>551[在牛肚子里旅行[0:04:19[zainiuduzililvxing</string>
		<string>554[植物妈妈有办法[0:02:12[zhiwumamayoubanfa</string>
		<string>555[智取赃物[0:04:36[zhiquzangwu</string>
	</array>
	<key>英语儿歌第一集[朗朗上口，是英语启蒙的好帮手</key>
	<array>
		<string>1062[A Cup of Beer[0:00:16[ACupofBeer</string>
		<string>1063[Blow the man down[0:00:59[Blowthemandown</string>
		<string>1064[Camptown Race[0:01:08[CamptownRace</string>
		<string>1065[Carrot stew[0:00:42[Carrotstew</string>
		<string>1066[Catand Rat[0:00:18[CatandRat</string>
		<string>1067[Do re mi[0:04:13[Doremi</string>
		<string>1068[Free Jacques[0:01:26[FreeJacques</string>
		<string>1069[go to school[0:00:18[gotoschool</string>
		<string>1070[here we go looptyloo[0:02:01[herewegolooptyloo</string>
		<string>1071[If you're happy[0:01:46[Ifyourehappy</string>
		<string>1072[Let everyone clap[0:01:16[Leteveryoneclap</string>
		<string>1073[little star[0:02:38[littlestar</string>
		<string>1074[London Bridge[0:01:36[LondonBridge</string>
		<string>1075[Oh Christmas tree[0:01:20[OhChristmastree</string>
		<string>1076[Old Blue[0:02:46[OldBlue</string>
		<string>1077[On top of Old smoky[0:01:49[OntopofOldsmoky</string>
		<string>1078[Pat-A-cake[0:01:03[PatAcake</string>
		<string>1079[Polly Wolly Doodle[0:01:25[PollyWollyDoodle</string>
		<string>1080[Sailing,sailing[0:00:23[Sailingsailing</string>
		<string>1081[Shortnin' Bread[0:00:59[ShortninBread</string>
		<string>1082[Skip to my Lou[0:01:20[SkiptomyLou</string>
		<string>1083[Swanee River[0:02:13[SwaneeRiver</string>
		<string>1084[The bear went over the mountain[0:01:21[Thebearwentoverthemountain</string>
		<string>1085[The sidewalks of New York[0:01:23[ThesidewalksofNewYork</string>
		<string>1086[This is the way[0:01:01[Thisistheway</string>
		<string>1087[Thumbelina[0:02:10[Thumbelina</string>
		<string>1088[Way, hey and up she rises[0:00:53[Wayheyandupsherises</string>
		<string>1089[When the saints go marching in[0:01:17[Whenthesaintsgomarchingin</string>
	</array>
	<key>越听越勇敢[让宝宝越听越勇敢，学会克服胆小的童话</key>
	<array>
		<string>862[狐狸的胆子[0:03:10[hulidedanzi</string>
		<string>863[勇敢的小银鸽[0:02:53[yonggandexiaoyinge</string>
		<string>864[垒雪屋[0:04:02[leixuewu</string>
		<string>865[木屋边上的小蘑菇[0:03:57[muwubianshangdexiaomogu</string>
		<string>866[小草大力士[0:07:59[xiaocaodalishi</string>
		<string>867[来自鸟国的消息[0:05:57[laiziniaoguodexiaoxi</string>
		<string>868[狐狸和兔子[0:03:13[hulihetuzi</string>
		<string>869[我把勇敢送给你[0:03:40[wobayonggansonggeini</string>
		<string>870[小孔雀不胆小了[0:03:18[xiaokongquebudanxiaole</string>
		<string>871[谁最勇敢[0:03:00[shuizuiyonggan</string>
		<string>872[“咕咚”来了[0:03:31[gudonglaile</string>
		<string>873[小白鹅学跳水[0:02:22[xiaobaiexuetiaoshui</string>
		<string>874[明明找到了爸爸[0:02:38[mingmingzhaodaolebaba</string>
		<string>875[勇敢的小山羊[0:02:58[yonggandexiaoshanyang</string>
		<string>876[爱唱歌的小猪[0:04:54[aichanggedexiaozhu</string>
	</array>
	<key>越听越多好习惯[让宝宝越听越养成生活好习惯的童话故事</key>
	<array>
		<string>877[大老鼠和臭脚丫[0:02:39[dalaoshuhechoujiaoya</string>
		<string>878[脾气大王[0:05:41[piqidawang</string>
		<string>879[阿贝贝给胡萝卜写信[0:02:54[abeibeigeihuluoboxiexin</string>
		<string>880[红气球[0:03:34[hongqiqiu</string>
		<string>881[大象滑梯笑了[0:03:33[daxianghuatixiaole</string>
		<string>882[小猫钓鱼[0:13:19[xiaomaodiaoyu</string>
		<string>883[没牙齿的大老虎[0:03:49[meiyachidedalaohu</string>
		<string>884[像音乐像锤子的敲门声[0:02:36[xiangyinyuexiangchuizideqiaomensheng</string>
		<string>885[小猪找衣服[0:02:32[xiaozhuzhaoyifu</string>
		<string>886[冰冰的牙齿[0:02:35[bingbingdeyachi</string>
		<string>887[“我叫妈妈买”[0:02:30[wojiaomamamai</string>
		<string>888[森林的小池塘[0:02:35[senlindexiaochitang</string>
		<string>889[“着火啦”[0:03:16[zhaohuole</string>
		<string>890[爱挖鼻孔的小猪[0:03:23[aiwabikongdexiaozhu</string>
		<string>891[谁的水彩笔[0:04:16[shuideshuicaibi</string>
	</array>
	<key>越听越开心[让宝宝越听越开心，快乐成长童话故事</key>
	<array>
		<string>892[小土拨鼠要当爸爸[0:05:51[xiaotuboshuyaodangbaba</string>
		<string>893[小老鼠的胡子[0:04:31[xiaolaoshudehuzi</string>
		<string>894[黑熊爷爷钓鱼[0:03:41[heixiongyeyediaoyu</string>
		<string>895[乌龟吉吉住高楼[0:04:34[wuguijijizhugaolou</string>
		<string>896[蹦蹦床[0:03:14[bengbengchuang</string>
		<string>897[魔宫[0:04:14[mogong</string>
		<string>898[小狗狗变成了冰狗狗[0:04:40[xiaogougoubianchenglebinggougou</string>
		<string>899[聪明的苍蝇[0:02:39[congmingdecangying</string>
		<string>900[自作聪明的老鼠[0:02:25[zizuocongmingdelaoshu</string>
		<string>901[猴子捞月亮[0:02:20[houzilaoyueliang</string>
		<string>902[方头狮子[0:05:26[fangtoushizi</string>
		<string>903[半个喷嚏[0:02:15[bangepengti</string>
		<string>904[妹妹的布娃娃[0:01:54[meimeidebuwawa</string>
		<string>905[大嗓门先生[0:03:35[dasangmenxiansheng</string>
		<string>906[太阳鸟[0:05:12[taiyangniao</string>
	</array>
	<key>越听越懂礼貌[让宝宝越听EQ越强的童话故事</key>
	<array>
		<string>933[大象来做客[0:04:36[daxianglaizuoke</string>
		<string>934[洗澡[0:03:43[xizao</string>
		<string>935[阿西兔的美味汤[0:03:12[axitudemeiweitang</string>
		<string>936[好森林的故事[0:04:09[haosenlindegushi</string>
		<string>937[好可爱的孩子们[0:02:24[haokeaidehaizimen</string>
		<string>938[小雪挑邻居[0:02:56[xiaoxuetiaolingju</string>
		<string>939[孔融让梨[0:02:02[kongrongrangli</string>
		<string>940[萝卜回来了[0:02:00[luobohuilaile</string>
		<string>941[漂亮的红斗蓬[0:02:08[piaoliangdehongdoupeng</string>
		<string>942[南瓜房子[0:02:11[nanguafangzi</string>
		<string>943[喇叭花的朋友[0:01:56[labahuadepengyou</string>
		<string>944[雪花、松树和严冬老人[0:02:54[xuehua,songshuheyandonglaoren</string>
		<string>945[巴警官和他的警犬利亚的故事[0:03:11[bajingguanhetadejingquanliyadegushi</string>
		<string>946[写在风筝上的诗[0:03:38[xiezaifengzhengshangdeshi</string>
		<string>947[小熊让路[0:02:53[xiaoxiongranglu</string>
		<string>948[飞过围墙的足球[0:03:10[feiguoweiqiangdezuqiu</string>
		<string>949[露珠里的朋友[0:04:11[luzhulidepengyou</string>
		<string>950[冰激凌火箭[0:03:56[bingjilinghuojian</string>
	</array>
	<key>越听越爱劳动[让宝宝从小爱劳动的童话故事</key>
	<array>
		<string>951[皮皮的碗和筷子[0:03:50[pipidewanhekuaizi</string>
		<string>952[忙碌的小蜜蜂小嘟噜[0:03:24[mangludexiaomifengxiaodulu</string>
		<string>953[熊爷爷的故事[0:04:57[xiongyeyedegushi</string>
		<string>954[会唱歌的圣诞树[0:05:09[huichanggedeshengdanshu</string>
		<string>955[熟能生巧[0:02:51[shunengshengqiao</string>
		<string>956[财宝[0:03:53[caibao</string>
		<string>957[美丽的千纸鹤[0:05:02[meilideqianzhihe</string>
		<string>958[快乐的国王和小王子[0:05:18[kuailedeguowanghexiaowangzi</string>
		<string>959[买小雨点的河马大哥[0:02:42[maixiaoyudiandehemadage</string>
		<string>960[椰子熟了[0:02:10[yezishule</string>
		<string>961[香甜的馅饼[0:02:31[xiangtiandexianbing</string>
		<string>962[乖乖鼠[0:04:51[guaiguaishu</string>
		<string>963[小白兔和小灰兔[0:03:13[xiaobaituhexiaohuitu</string>
		<string>964[美丽的小路[0:02:52[meilidexiaolu</string>
		<string>965[我愿意[0:03:03[woyuanyi</string>
	</array>
	<key>越听越爱学习[让宝宝从小热爱学习的童话故事</key>
	<array>
		<string>907[井底之蛙[0:04:08[jingdizhiwa</string>
		<string>908[纪昌学射箭[0:03:16[jichangxueshejian</string>
		<string>909[磨杵成针[0:02:55[mochuchengzheng</string>
		<string>910[凿壁偷光的故事[0:03:37[zaobitouguangdegushi</string>
		<string>911[等明天[0:02:10[dengmingtian</string>
		<string>912[大象的红点点[0:03:12[daxiangdehongdiandian</string>
		<string>913[要当第一名[0:05:14[yaodangdiyiming</string>
		<string>914[小蝌蚪找妈妈[0:07:14[xiaokedouzhaomama</string>
		<string>915[春天在哪里[0:06:26[chuntianzainali</string>
		<string>916[月亮的秘密[0:03:45[yueliangdemimi</string>
		<string>917[圆圆和方方[0:08:20[yuanyuanhefangfang</string>
		<string>918[叶子的奥秘[0:03:39[yezideaomi</string>
		<string>919[月亮的脸[0:04:55[yueliangdelian</string>
	</array>
	<key>越听越聪明[让宝宝越听越聪明的IQ童话故事</key>
	<array>
		<string>847[来了个陌生人[0:01:47[lailegemoshengren</string>
		<string>848[蚂蚁和大象摔跤[0:03:42[mayihedaxiangshuaijiao</string>
		<string>849[喜欢钓鱼的鹅太太[0:04:13[xihuandiaoyudeetaitai</string>
		<string>850[蚱蜢、蟋蟀和狗尾巴草[0:04:25[zhameng,xishuaihegouweibacao</string>
		<string>851[大家的星星[0:04:02[dajiadexingxing</string>
		<string>852[小猪和十二只蚊子[0:04:34[xiaozhuheshierzhiwenzi</string>
		<string>853[乌鸦和狐狸[0:03:29[wuyahehuli</string>
		<string>854[蚊子斗狮子[0:02:16[wenzidoushizi</string>
		<string>855[树洞里的皮球[0:02:54[shudonglidepiqiu</string>
		<string>856[曹冲称象[0:04:27[caochongchengxiang</string>
		<string>857[“需要”会使人长智慧[0:04:36[xuyaohuishirenzhangzhihui</string>
		<string>858[小熊送礼[0:02:24[xiaoxiongsongli</string>
		<string>859[小马过河[0:03:33[xiaomaguohe</string>
		<string>860[小松鼠买梦[0:04:09[xiaosongshumaimeng</string>
		<string>861[狮子和猫照镜子[0:02:34[shizihemaozhaojingzi</string>
	</array>
	<key>越听越诚实可爱[让宝宝越听真诚做人的童话故事</key>
	<array>
		<string>920[北极熊的“棉鞋”[0:04:34[beijixiongde-mianxie</string>
		<string>921[星星的摇篮[0:03:57[xingxingdeyaolan</string>
		<string>922[黑森林、小白兔、红蘑菇[0:04:34[heisenlin,xiaobaitu,hongmogu</string>
		<string>923[一片树叶变呀变[0:04:11[yipianshuyebianyabian</string>
		<string>924[老鹰和狐狸[0:04:18[laoyinghehuli</string>
		<string>925[爱说谎的孩子[0:03:54[aishuohuangdehaizi</string>
		<string>926[星星草[0:03:09[xingxingcao</string>
		<string>927[被子的大地[0:02:36[beizidedadi</string>
		<string>928[戴眼镜的嘎嘎[0:03:56[daiyanjingdegaga</string>
		<string>929[小木偶的故事[0:03:21[xiaomuoudegushi</string>
		<string>930[小萤火虫和芦花鸡太太[0:03:36[xiaoyinghuochongheluhuajitaitai</string>
		<string>931[丁丁的小狗弟弟[0:04:13[dingdingdexiaogoudidi</string>
		<string>932[宝宝旅行团[0:03:49[baobaolvxingtuan</string>
	</array>
</dict>
</plist>
